body {
    background-color: black;
}

.container {
    margin: 250px auto;
    width: 700px;
    height: 400px;
    background-color: white;
    overflow: hidden;
    position: relative;
    background-color: rgb(67, 134, 151);
}

.sol {
    width: 100px;
    height: 100px;
    background-color: rgb(236, 197, 23);
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    right: 120px;
   /*  animation:
    move 5s linear; */

}

.guia{
    z-index: 5;
    background-color: transparent;
    cursor: pointer;
}

@keyframes move {
    0%{
        bottom: 100px;
    }50% {
        bottom: 450px;
    }100% {
        bottom: 100px;
    }
  }


.montana img{
    position: absolute;
    z-index: 4;
}

.nube {
    position: absolute;
    z-index: 1;
}

.uno {
    width: 150px;
    bottom: 80px;
    right: 600px;
    top: 50px;
    animation:
    move1 5s linear;
}

@keyframes move1 {
    to {
        transform: translateX(700px);
    }
}

.dos {
    width: 150px;
    bottom: 500px;
    right: -20px;
    top: 270px;
    z-index: 5;
    animation: 
    move2 6s linear;
}

@keyframes move2 {
    to {
        transform: translateX(-600px);
    }
}


.tres {
    width: 150px;
    bottom: 200px;
    right: 200px;
    top: 50px;
    animation: move3 7s linear;
}

@keyframes move3 {
    to {
        transform: translateX(700px);
    }
}

.cuatro {
    width: 150px;
    bottom: -200px;
    right: 500px;
    top: 150px;
    z-index: 5;
    animation: move4 7s linear;
}

@keyframes move4 {
    to {
        transform: translateX(700px);
    }
}







  