body {
    background-color: black;
}

.titulo {
    color: white;
}


.container2 {
    margin: 250px auto;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: rgb(140, 162, 196)
}

.btn {
    background-color: rgb(171, 147, 194);
    color: black;
    border-radius: 15px;
    font-size: larger;

}

.juntos img{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
            
}

.calcifer-2 img{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
}

.frase img{
    position: absolute;
    z-index: 3;
    width: 700px;
    height: 700px;
    right: 30px;
    bottom: -20px; 
}

.flor img{
    position: absolute;
    z-index: 4;
}

.uno img{
    width: 100px;
    height: 100px;
}

.dos img{
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
}

.corazon img{
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;
    top: 10px;
    
}

