*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxColores{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 15px;
    background-color: bisque;
}

.boxColores select {
    padding: 10px 20px;
    border-radius: 15px;
}    

.boxColores button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(204, 141, 63);
    border: none;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    min-height: 500px;
    height: 500px;
    max-width: 1400px;
    margin: 30px auto 0 auto;
    border: 3px solid black;
    border-radius: 15px;
}

.pelota{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(98, 78, 168);
    border: 1px solid black;
    cursor: pointer;
}

.equis{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(185, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    right: 0px;
    left: 0px;
    margin: auto;
    top: -10px;
    cursor: pointer;
}


