@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}
.card1 {
    display: flex;
    background-color: #3C3F41;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card1:hover{
    box-shadow: 5px 5px 20px rgba(253, 253, 253, 0.568);
    transform: translateY(-3%);
}

.card1 img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.intro {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro h1 {
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.intro p {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(144, 144, 144);
    font-size: 1rem;
    
}

.titulo{
    color: white;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 0;
    font-size: 4rem;
    
}

.caja{
    background: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.638)), url(../09-buscador-peliculas/resources/fondo2\ \(2\).jpg) no-repeat center center;
    margin: 0px;
    padding: 15%;
    background-position: center;
    background-size: cover; 
    color: white;
    text-align: center;
    position: relative;   
}

header {
    position: relative;
    width: 100%;
}

#buscador {
    margin-bottom: 20px;
}

#buscador input,
#buscador select,
#buscador button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#buscador input {
    width: 40%;
}

#buscador select {
    width: 20%;
}

#buscador button {
    background-color: #622a9e; 
    color: white;
    cursor: pointer;
}

#buscador button:hover {
    background-color: #360f68;
}

header h1 {
    margin: 0;
    padding: 0;
}